.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 10px;;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
questions{
  text-align: left;
}
.right{
  float: right;
  margin-right: 20px;
}
button{
  color:black;
  background-color: lightblue;
  font-size: 20px;
}
